# Ignore every jar files, these should be downloaded with a bootstrap script
*.jar

# Per-server files
/*.json
/worlds
/logs

# I think everyone should accept the EULA himself
/eula.txt
.update-lock

# Ignores all hidden files.
.*
!/.gitignore

plugins/CommandHelper/persistence.db
